.ladybug {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url(./img/ladybug.png);
  background-size: contain;
}

.ladybug--position {
  transition: transform 300ms;
}

.ladybug-position {
  transform: rotate(0deg);  
}

.ladybug--position {
  transform: rotate(-90deg);
}

.ladybug--position {
  transform: rotate(90deg);
}

.ladybug--position {
  transform: rotate(180deg);
}

